<nav>
  <h3>
    <i class="fab fa-rocketchat"></i>
    BEE CHAT
  </h3>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/signup">signup</a></li>
    <li><a href="/login">Login</a></li>
    <li id="logout"><a href="/logout">Logout</a></li>
    <li><a href="/chat">Chat</a></li>
    <li><a href="/profile">Profile</a></li>
    <li><a href="/post">create post</a></li>
    <li><a href="/user-posts">  posts </a></li>



  </ul>
</nav>
