/* profile.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
}

.profile-container {
    max-width: 800px;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1s ease-in-out;
    text-align: center;
}

.animated-text {
    color: #4CAF50;
    font-size: 2em;
    text-transform: capitalize;
    animation: slideInLeft 1s ease-in-out;
}

.profile-info {
    margin-bottom: 20px;
}

.user-posts {
    text-align: center;
}

.post-card {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 10px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.post-card:hover {
    transform: scale(1.05);
}

.post-description {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.post-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.profile-img {
    display: flex;
    margin: auto;
    
    width: 100px; /* Set your desired width */
    height: 100px; /* Set your desired height */
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
   
}

.profile-img:hover {
    transform: scale(1.1);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
