/* profile.css */

.profile-container {
    animation: fadeIn 1s ease-in-out;
}

.animated-text {
    animation: slideInLeft 1s ease-in-out;
}


.post-card {
    transition: transform 0.3s ease-in-out;
}

.post-card:hover {
    transform: scale(1.1);
}






.profile-img {
    transition: transform 0.3s ease-in-out;
}

.profile-img:hover {
    transform: scale(1.3);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}




#shareButton {
   transition: background-color 0.3s ease-in-out;
}

#shareButton:hover {
    background-color: #218838;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
