<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BeeChat - A Social Chatting App</title>
  <link rel="icon" type="image/x-icon" href="bee.png">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

  <!-- Custom Styles -->
  <style>
    body {
      background-color: #fbee21; /* Bee yellow background */
    }

    header {
      background-color: #333;
      color: #fbee21;
      padding: 15px;
      text-align: center;
    }

    header i {
      font-size: 2em;
      margin-right: 10px;
    }

    .container {
      margin-top: 20px;
    }

    .card {
      border: none;
      background-color: #fff; /* White card background */
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .description p {
      color: #333;
    }

    .illustration img {
      width: 100%;
      max-width: 300px;
      margin-top: 20px;
    }

    /* Custom footer style */
    footer {
      background-color: #333;
      color: #fbee21;
      padding: 15px;
      text-align: center;
      position: fixed;
      bottom: 0;
      width: 100%;
    }
  </style>
</head>

<body>
  {{>nav}}
  <header>
    <i class="fab fa-rocketchat"></i>
    <h1>BeeChat - A Social Chatting App</h1>
  </header>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card mt-5">
          <div class="card-body">
            <div class="illustration text-center">
              <img src="bee.png" alt="BeeChat Illustration" class="img-fluid">
            </div>
            <div class="description text-center">
              <p id="typing-text"></p>
              <p>
                Welcome to BeeChat, where you can buzz with random or anonymous bees! Connect with others and have meaningful conversations in a secure hive environment.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  {{>footer}}

  <script>
    const textToType = "Welcome to BeeChat";

    function typeText() {
      const textElement = document.getElementById("typing-text");
      textElement.textContent = "";
      let index = 0;

      function type() {
        if (index < textToType.length) {
          textElement.textContent += textToType.charAt(index);
          index++;
          setTimeout(type, 100);
        }
      }

      type();
    }

    window.onload = function () {
      typeText()
    };
  </script>

  <!-- Bootstrap JS and Font Awesome -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://kit.fontawesome.com/9abda2b47f.js" crossorigin="anonymous"></script>
</body>

</html>
